{% extends "base.html" %}

{% block content %}
<h3 class="text-center title">Delete a product</h3>
<hr class="line-blue">
<section >
    <div class="container text-center">
        <form method="post">
            <div class="form-group">
                <label>Give the admin's email: </label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email">
            </div>
            <div class="form-group">
                <label>Give product code: </label>
                <input  class="form-control" id="code" name="code" placeholder="Product code">
            </div>
            <br/<br/>
            <button type="submit" class="btn">Delete found product?</button>

        </form>
    </div>
</section>
        
    

{% endblock %}
